{% extends 'base.html' %}

{% block content %}
<ul class="list-group">
    <div class="card-body">
        <h5 class="card-title">{{user.username}}</h5>
        <p class="card-text">e-mail : {{user.email}}</p>
        <p class="card-text">First Name : {{user.first_name}}</p>
        <p class="card-text">Last Name : {{user.last_name}}</p>

        <a class="btn btn-info btn-sm" href="/users/{{user.username}}/feedback/add">Add Feedback</a>
        <form style="display:inline;">
            <button class="btn btn-danger btn-sm" formaction="/users/{{ user.username }}/delete" formmethod="POST">
                Delete User
            </button>
        </form>

    </div>
    {% for feedback in user.feedback%}
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{feedback.title}}
                <a class="btn btn-outline-info btn-sm" href="/feedback/{{feedback.id}}/update" role="button">Edit</a>
                <form style="display:inline;" action="/feedback/{{feedback.id}}/delete" method="POST">
                    <button class="btn btn-outline-danger btn-sm">Delete</button>
                </form>
            </h5>
        </div>
        <p class="mb-1">{{feedback.content}}</p>
    </li>
    {% endfor %}
</ul>


{% endblock %}